.categories {
    .buttonsWrapper {
      display: flex;
      justify-content: center;
      margin-top: 35px;
    }
  
    .categoryButton {
      font-weight: 900;
      font-size: 1.3rem;
      text-transform: none;
      margin: 0 10px;
      
      @media screen and (min-width: 550px) {
        font-size: 1.5rem;
      }
    }
  
    .loadingIndicator {
      margin: 4% auto;
      display: block;
    }
  
    .gridWrapper {
      max-width: 2080px;
      margin: 50px auto 100px;
      width: 100%;
      box-sizing: border-box;
    }
  }
  